// Color
//------------------------------------------------------
.u-color {
  &--01 {
    background-color: #F0C808;
  }
  &--02 {
    background-color: #086788;
  }
  &--03 {
    background-color: #F7F4EA;
  }
  &--04 {
    background-color: #DED9E2;
  }
  &--05 {
    background-color: #C0B9DD;
  }
  &--06 {
    background-color: #80A1D4;
  }
  &--cover {
    background-color: #75C9C8;
  }
  &--sidebar {
    background-color: #50514f;
  }
  &--footer {
    background-color: #50514f;
  }
}
