// Color
//------------------------------------------------------
.u-color {
  &--01 {
    background-color: #F0C808;
  }
  &--02 {
    background-color: #086788;
  }
  &--footer {
    background-color: #50514f;
  }
}
