// Button
//------------------------------------------------------
@mixin c-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;

  &:hover {
    opacity: 0.9;
  }
}

.c-btn {
  &--reset {
    @include c-btn;
    padding: 8px 30px;
    font-size: 1.2rem;
  }
}

.c-menubtn {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  &-bar {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #000;
  }
}
