// Button
//------------------------------------------------------
@mixin c-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  &:hover {
    opacity: 0.9;
  }
}
.c-btn {
  &--reset {
    @include c-btn;
    padding: 8px 30px;
    font-size: 1.2rem;
    font-family: $font-family;
  }
}
.c-menubtn {
  display: block;
  width: 50px;
  height: 40px;
  margin: 10px;
  position: absolute;
  cursor: pointer;
  &-bar {
    display: block;
    width: 36px;
    height: 6px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    background-color: #000;
    @include transition-property((all, opacity, background-color));
    @include transition-delay(($transition-time-short / 2, $transition-time-short, $transition-time-short * 1.5));
    &-top {
      @include transform-origin(center);
    }
    &-middle {
      opacity: 1;
    }
    &-bottom {
      @include transform-origin(center);
    }
    & + .c-menubtn-bar {
      margin-top: 4px;
    }
  }
}
.menu-open {
  .c-menubtn {
    &-bar {
      @include transition-delay(($transition-time-short * 2, $transition-time-short, $transition-time-short * 1.5));
      &-top {
        @include myAnimation(humbergerMenuTop #{$transition-time-short * 2} #{$transition-time-short / 2} linear forwards);
      }
      &-middle {
        opacity: 0;
      }
      &-bottom {
        @include myAnimation(humbergerMenuBottom #{$transition-time-short * 2} #{$transition-time-short / 2} linear forwards);
      }
    }
  }
}
.menu-close {
  .c-menubtn {
    &-bar {
      &-top {
        @include myAnimation(humbergerMenuTopClose #{$transition-time-short * 2} #{$transition-time-short / 2} linear backwards);
      }
      &-bottom {
        @include myAnimation(humbergerMenuBottomClose #{$transition-time-short * 2} #{$transition-time-short / 2} linear backwards);
      }
    }
  }
}
