// Form
//------------------------------------------------------
.c-form {
  &--select-ease {
    display: inline-block;
    vertical-align: super;
    font-size: 1.2em;
    margin-right: $margin-right;
    font-family: $font-family;

    label {
      font-size: 1.2rem;
    }
  }
}
