extends /_layouts/base

block vars
  include /_settings/data

  - var metaTitle = 'D3.js Collection';
  
block content
  .l-top
    .l-content
      .p-top-cover.u-color--cover.js-cover
        h1.p-top-title.js-title D3 Collection
        
        .p-top-cover__intro
          span.p-top-intro.js-intro
            i(class="fa fa-chevron-down")
      .p-top-links
        .p-top-links__list
          .list__item.u-color--06.js-motion-01
            a(href="./barchart/index.html") Bar Chart
              i(class="icon fa fa-chevron-right")
          .list__item.u-color--05.js-motion-02
            a(href="./columnchart/index.html") Column Chart
              i(class="icon fa fa-chevron-right")
          .list__item.u-color--04.js-motion-03
            a(href="./linechart/index.html") Line Chart
              i(class="icon fa fa-chevron-right")
          .list__item.u-color--03.js-motion-04
            a(href="./piechart/index.html") Pie Chart
              i(class="icon fa fa-chevron-right")

  include /_partials/g-footer
  
block js
  script(src="./assets/js/main.js")
