extends /_layouts/base

block vars
  include /_settings/data

  - var metaTitle = 'D3.js Collection';
  
block content
  .l-main
    .l-content.u-pdef--lr
      .l-content__body
        .p-main-links
          .p-main-links__list
            .list__item
              a(href="./barchart/columnchart.html") Column Chart
            .list__item
              a(href="./barchart/columnchart.html") Column Chart
  
block js
