extends /_layouts/base

block vars
  include /_settings/data

  - var metaTitle = 'D3.js Collection';
  
block content
  .l-main
    .l-content.u-pad--lr
      .l-content__body
        .p-main-links
          .p-main-links__list
            .list__item
              a(href="./barchart/index.html") Simple Bar Chart
            .list__item
              a(href="./columnchart/index.html") Column Chart
            .list__item
              a(href="./linechart/index.html") Line Chart
            .list__item
              a(href="./piechart/index.html") Pie Chart
  
block js
