// Content
//------------------------------------------------------
.l-content {
  width: 100%;
  min-width: 960px;
  height: auto;
  margin: 0 auto;

  &__head {
    width: 100%;
    min-height: 160px;

    &__inner {
      width: 960px;
      height: 100%;
      margin: 0 auto;

      .contents-title {
        color: #320407;
        font-size: 3rem;
      }
    }
    &__btns {
      width: 960px;
      margin: 0 auto;
    }
  }
  &__body {
    width: 960px;
    height: auto;
    margin: 0 auto;

    &__inner {
      margin-top: $margin-top;
    }
  }
}
