.c-form--select-ease
  form(action="" name="chkModeForm")
    label Interpolate :
    select(name="selectMode" class="js-selectBox")
      option(value="linear", selected) linear
      option(value="linear-closed") linear-closed
      option(value="step") step
      option(value="step-before") step-before
      option(value="step-after") step-after
      option(value="monotone") monotone
      option(value="cardinal") cardinal
      option(value="cardinal-open") cardinal-open
      option(value="cardinal-closed") cardinal-closed
      option(value="basis") basis
      option(value="basis-open") basis-open
      option(value="basis-closed") basis-closed
      option(value="bundle") bundle
