.l-sidebar#js-sidebar
  .l-sidebar__inner
    ul.l-sidebar__link-list
      li.link-list__item
        a(href="/") Home
      li.link-list__item
        a(href="/barchart/index.html") Simple Bar Chart
      li.link-list__item
        a(href="/columnchart/index.html") Simple Column Chart
      li.link-list__item
        a(href="/linechart/index.html") line Chart
