extends /_layouts/base

block vars
  include /_settings/data

  - var metaTitle = 'Line Chart';
  - var currentPath = '../';
  
block content
  .l-main.js-content-cover
    .l-content
      .l-content__menubtn
        include /_partials/g-menubtn
      .l-content__head.u-color--01
        .l-content__head__inner
          h1.contents-title.u-pad--a Line Chart
        .l-content__head__btns.u-pad--b.u-txta--r
          include /_partials/ease-select-form
          button.js-reset.c-btn--reset Data Reset
      .l-content__body.u-txta--c
        .l-content__body__inner#stage-LineChart
          
  include /_partials/g-sidebar
  include /_partials/g-footer
  
block js
  script(type="application/javascript", src="../assets/js/main.js")
