extends /_layouts/base

block vars
  include /_settings/data

  - var metaTitle = 'Bar Chart -- Column Chart';
  
block content
  .l-main.u-margin--b
    .l-content
      .l-content__head.u-color--01
        .l-content__head__inner
          h1.contents-title.u-pad--a Simple Column Chart
        .l-content__head__btns.u-pad--b.u-txta--r
          button.js-reset.c-btn--reset Data Reset
      .l-content__body.u-txta--c
        .l-content__body__inner#stage-ColumnChart
          
  include /_partials/g-footer
  
block js
  script(type="application/javascript", src="../assets/js/main.js")
